<div class="row">
    <div class="col-xs-12">
        <h2>My TODOS</h2>
        <div class="list-group">
            <div class="one-todo" *ngFor="let todo of todos; let i=index" >
                <button class="list-group-item"(click)=onViewTodo(i)>
                    <h3  class="list-group-item-heading" [ngClass]= "{done: todo.done===true}">
                        {{todo.title}}
                    </h3>
                    <p class="list-group-item-text">{{todo.createdDate |date : 'EEEE, d MMMM y à HH:mm'}}</p>
                </button>
                 <button class="btn btn-default btn-danger pull-right" (click)="onDeleteTodo(todo)">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button class="btn btn-default btn-success pull-right" (click)="onDoneTodo(todo)">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
            </div>
        
        </div>
        <button class="btn btn-primary" (click)="onAddTodo()">Nouveau TODO</button>
    </div>
</div>